<style>
    <style class="resume-colors-style">
		#resume- .resume-first-color {
			color: #000000 !important;
		}

		#resume- .resume-first-color::-webkit-input-placeholder,
		#resume- .resume-first-color input::-webkit-input-placeholder {
			color: #000000 !important;
		}
		#resume- .resume-first-color:-moz-placeholder,
		#resume- .resume-first-color input:-moz-placeholder {
			color: #000000 !important;
		}
		#resume- .resume-first-color::-moz-placeholder,
		#resume- .resume-first-color input::-moz-placeholder {
			color: #000000 !important;
		}
		#resume- .resume-first-color:-ms-input-placeholder,
		#resume- .resume-first-color input:-ms-input-placeholder {
			color: #000000 !important;
		}

		#resume- .resume-first-background {
			background-color: #000000 !important;
		}
		#resume- .resume-before-first-background::before {
			background-color: #000000 !important;
		}
		#resume- .resume-first-border {
			border-color: #000000 !important;
		}
		#resume- .resume-first-fill {
			fill: #000000 !important;
		}
		#resume- .resume-first-stroke {
			stroke: #000000 !important;
		}

		#resume- .resume-second-color {
			color: #008CFF !important;
		}

		#resume- .resume-second-color::-webkit-input-placeholder,
		#resume- .resume-second-color input::-webkit-input-placeholder {
			color: #008CFF !important;
		}
		#resume- .resume-second-color:-moz-placeholder,
		#resume- .resume-second-color input:-moz-placeholder {
			color: #008CFF !important;
		}
		#resume- .resume-second-color::-moz-placeholder,
		#resume- .resume-second-color input::-moz-placeholder {
			color: #008CFF !important;
		}
		#resume- .resume-second-color:-ms-input-placeholder,
		#resume- .resume-second-color input:-ms-input-placeholder {
			color: #008CFF !important;
		}

        /* Colored Header Template --> */

        #resume- .colored-header-background {
            background-color: #008CFF !important;
        }

        #resume- .resume-layout-default-colored .resume-header-colored . {
            color: #fff !important;
        }

        #resume- .resume-layout-default-colored .resume-header-colored .icon {
            color: #fff !important;
        }

        #resume- .resume-layout-default-colored .resume-header  {
            margin-bottom: 60px !important;
        }

        /* <-- end Colored Header Template */


        /* Minimal resume template --> */

        #resume- .resume-layout-minimal .resume-first-color {
            color: #000000 !important;
        }

        #resume- .resume-layout-minimal .resume-first-color::-webkit-input-placeholder,
        #resume- .resume-layout-minimal .resume-first-color input::-webkit-input-placeholder {
            color: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-first-color:-moz-placeholder,
        #resume- .resume-layout-minimal .resume-first-color input:-moz-placeholder {
            color: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-first-color::-moz-placeholder,
        #resume- .resume-layout-minimal .resume-first-color input::-moz-placeholder {
            color: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-first-color:-ms-input-placeholder,
        #resume- .resume-layout-minimal .resume-first-color input:-ms-input-placeholder {
            color: #000000 !important;
        }

        #resume- .resume-layout-minimal .resume-first-background {
            background-color: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-before-first-background::before {
            background-color: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-first-border {
            border-color: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-first-fill {
            fill: #000000 !important;
        }
        #resume- .resume-layout-minimal .resume-first-stroke {
            stroke: #000000 !important;
        }

        #resume- .resume-layout-minimal .resume-second-color {
            color: #384347 !important;
        }

        #resume- .resume-layout-minimal .resume-second-color::-webkit-input-placeholder,
        #resume- .resume-layout-minimal .resume-second-color input::-webkit-input-placeholder {
            color: #384347 !important;
        }
        #resume- .resume-layout-minimal .resume-second-color:-moz-placeholder,
        #resume- .resume-layout-minimal .resume-second-color input:-moz-placeholder {
            color: #384347 !important;
        }
        #resume- .resume-layout-minimal .resume-second-color::-moz-placeholder,
        #resume- .resume-layout-minimal .resume-second-color input::-moz-placeholder {
            color: #384347 !important;
        }
        #resume- .resume-layout-minimal .resume-second-color:-ms-input-placeholder,
        #resume- .resume-layout-minimal .resume-second-color input:-ms-input-placeholder {
            color: #384347 !important;
        }

        /* <-- end Minimal resume template */

        #resume- .resume-layout-minimal .resume-section-text {
            color: #008CFF !important;
        }

		#resume- .resume-second-background {
			background-color: #008CFF !important;
		}
		#resume- .resume-before-second-background::before {
			background-color: #008CFF !important;
		}

		#resume- .resume-second-border {
			border-color: #008CFF !important;
		}
		#resume- .resume-second-fill {
			stroke: #008CFF !important;
		}

		#resume- .resume-second-stroke {
			stroke: #008CFF !important;
		}

        /* Elegant Template --> */

        #resume- .colored-right-side-background {
            background-color: #008CFF !important;
            border-bottom: 2px solid #008CFF !important;
        }

        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .day-of-my-life-label.resume-first-background {
            color:  #008CFF !important;
        }

        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(1) .slider-handle-border {
            border: 2px solid #000000;
        }
        
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .resume-first-color,
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .resume-second-color,
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .gpa-score, 
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .inner .icon {
            color: #fff !important;
        }

        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .section-placeholder {
            opacity: 50% !important;
        }
    
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .slider-component.slider-component-lolly .slider, 
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .slider-component.slider-component-thin .slider {
            background-color: #000000 !important;
       }

        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .dot-wrap .resume-second-background,
        #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .resume-first-background {
            background-color: #fff !important;
        }

        /* <-- end Elegant Template */
	</style>
<style class="resume-colors-style">
    #resume- .resume-first-color {
        color: #000000 !important;
    }

    #resume- .resume-first-color::-webkit-input-placeholder,
    #resume- .resume-first-color input::-webkit-input-placeholder {
        color: #000000 !important;
    }
    #resume- .resume-first-color:-moz-placeholder,
    #resume- .resume-first-color input:-moz-placeholder {
        color: #000000 !important;
    }
    #resume- .resume-first-color::-moz-placeholder,
    #resume- .resume-first-color input::-moz-placeholder {
        color: #000000 !important;
    }
    #resume- .resume-first-color:-ms-input-placeholder,
    #resume- .resume-first-color input:-ms-input-placeholder {
        color: #000000 !important;
    }

    #resume- .resume-first-background {
        background-color: #000000 !important;
    }
    #resume- .resume-before-first-background::before {
        background-color: #000000 !important;
    }
    #resume- .resume-first-border {
        border-color: #000000 !important;
    }
    #resume- .resume-first-fill {
        fill: #000000 !important;
    }
    #resume- .resume-first-stroke {
        stroke: #000000 !important;
    }

    #resume- .resume-second-color {
        color: #008CFF !important;
    }

    #resume- .resume-second-color::-webkit-input-placeholder,
    #resume- .resume-second-color input::-webkit-input-placeholder {
        color: #008CFF !important;
    }
    #resume- .resume-second-color:-moz-placeholder,
    #resume- .resume-second-color input:-moz-placeholder {
        color: #008CFF !important;
    }
    #resume- .resume-second-color::-moz-placeholder,
    #resume- .resume-second-color input::-moz-placeholder {
        color: #008CFF !important;
    }
    #resume- .resume-second-color:-ms-input-placeholder,
    #resume- .resume-second-color input:-ms-input-placeholder {
        color: #008CFF !important;
    }

    /* Colored Header Template --> */

    #resume- .colored-header-background {
        background-color: #008CFF !important;
    }

    #resume- .resume-layout-default-colored .resume-header-colored . {
        color: #fff !important;
    }

    #resume- .resume-layout-default-colored .resume-header-colored .icon {
        color: #fff !important;
    }

    #resume- .resume-layout-default-colored .resume-header  {
        margin-bottom: 60px !important;
    }

    /* <-- end Colored Header Template */


    /* Minimal resume template --> */

    #resume- .resume-layout-minimal .resume-first-color {
        color: #000000 !important;
    }

    #resume- .resume-layout-minimal .resume-first-color::-webkit-input-placeholder,
    #resume- .resume-layout-minimal .resume-first-color input::-webkit-input-placeholder {
        color: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-first-color:-moz-placeholder,
    #resume- .resume-layout-minimal .resume-first-color input:-moz-placeholder {
        color: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-first-color::-moz-placeholder,
    #resume- .resume-layout-minimal .resume-first-color input::-moz-placeholder {
        color: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-first-color:-ms-input-placeholder,
    #resume- .resume-layout-minimal .resume-first-color input:-ms-input-placeholder {
        color: #000000 !important;
    }

    #resume- .resume-layout-minimal .resume-first-background {
        background-color: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-before-first-background::before {
        background-color: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-first-border {
        border-color: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-first-fill {
        fill: #000000 !important;
    }
    #resume- .resume-layout-minimal .resume-first-stroke {
        stroke: #000000 !important;
    }

    #resume- .resume-layout-minimal .resume-second-color {
        color: #384347 !important;
    }

    #resume- .resume-layout-minimal .resume-second-color::-webkit-input-placeholder,
    #resume- .resume-layout-minimal .resume-second-color input::-webkit-input-placeholder {
        color: #384347 !important;
    }
    #resume- .resume-layout-minimal .resume-second-color:-moz-placeholder,
    #resume- .resume-layout-minimal .resume-second-color input:-moz-placeholder {
        color: #384347 !important;
    }
    #resume- .resume-layout-minimal .resume-second-color::-moz-placeholder,
    #resume- .resume-layout-minimal .resume-second-color input::-moz-placeholder {
        color: #384347 !important;
    }
    #resume- .resume-layout-minimal .resume-second-color:-ms-input-placeholder,
    #resume- .resume-layout-minimal .resume-second-color input:-ms-input-placeholder {
        color: #384347 !important;
    }

    /* <-- end Minimal resume template */

    #resume- .resume-layout-minimal .resume-section-text {
        color: #008CFF !important;
    }

    #resume- .resume-second-background {
        background-color: #008CFF !important;
    }
    #resume- .resume-before-second-background::before {
        background-color: #008CFF !important;
    }

    #resume- .resume-second-border {
        border-color: #008CFF !important;
    }
    #resume- .resume-second-fill {
        stroke: #008CFF !important;
    }

    #resume- .resume-second-stroke {
        stroke: #008CFF !important;
    }

    /* Elegant Template --> */

    #resume- .colored-right-side-background {
        background-color: #008CFF !important;
        border-bottom: 2px solid #008CFF !important;
    }

    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .day-of-my-life-label.resume-first-background {
        color:  #008CFF !important;
    }

    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(1) .slider-handle-border {
        border: 2px solid #000000;
    }
    
    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .resume-first-color,
    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .resume-second-color,
    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .gpa-score, 
    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .inner .icon {
        color: #fff !important;
    }

    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .section-placeholder {
        opacity: 50% !important;
    }

    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .slider-component.slider-component-lolly .slider, 
    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .slider-component.slider-component-thin .slider {
        background-color: #000000 !important;
   }

    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .dot-wrap .resume-second-background,
    #resume- .resume-layout-elegant .resume-renderer-two-column:nth-child(2) .resume-first-background {
        background-color: #fff !important;
    }

    /* <-- end Elegant Template */
</style>

</style>
<div id="ExperienceSection-0" class="resume-section ExperienceSection">
    <div class="resume-section-container editable">
        <div>
            <div class="resume-section-text-container">
                <div class=" relative">
                    <div 
                        class="text-field input full-width-field  resume-section-text resume-heading-font resume-first-border resume-first-color"
                        placeholder="Experience"  
                        style="white-space: pre-wrap;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="moveable-items">
        <div class="resume-item-holder line-item editable">
            <div id="sections-2-items-0">
                <div class="item-object experience-item">
                    <div class="inner">
                        <div class="work-container">
                            <div class=" relative">
                                <div 
                                    class="text-field input full-width-field  item-position resume-first-color resume-heading-font"
                                    placeholder="Title"  
                                    style="white-space: pre-wrap;">Area leader | Supplychain platform </div>
                                <div
                                    class="text-field full-width-field autocomplete  item-position resume-first-color resume-heading-font">
                                </div>
                            </div>
                            <div class=" relative">
                                <div 
                                    class="text-field input full-width-field  item-workplace resume-second-color"
                                    placeholder="Company Name"  
                                    style="white-space: pre-wrap;">Fedex | Dataworks</div>
                            </div>
                        </div>
                        <div class="with-icon-container">
                            <span class="btn btn-sm btn-resume-data btn-link with-icon">
                            <i class="fa-solid fa-calendar-days"></i>
                                <span class="-xs ">2021 - Ongoing</span>
                            </span>
                            <div class="item-stretch item-location with-icon" style="padding-right: 50px !important;">
                                <span class="btn btn-sm btn-resume-data btn-link with-icon"> 
                                <i class="fa-solid fa-location-dot"></i>
                                <div class=" -inline relative">
                                    <div 
                                        class="text-field  -xs font-size-12 item-location"
                                        placeholder="Location"  
                                        style="white-space: pre-wrap;">Chester Springs, PA</div>
                                     
                                </div>
                            </span>
                            </div>
                        
                        </div>
                        <div class="  relative">
                            <div class="text-field item-description" placeholder="Company Description" style="margin-top:7px !important; margin-bottom: 3px"></div>
                                Fedex is a global logistics company that provides services to more than 200,000 customers in more than 100 countries.
                            </div>
                        </div>
                        <div class="top-xty">
                            <div data-bullet-id="0" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs "><i class="fa-solid fa-asterisk"></i></i></div>
                                <div class="media-body item-0">
                                    <div class="  relative">
                                        <div class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">Mapped Shoprunner eCommerce domain artifacts with Fedex Dataworks shipping domain for next generation solution and reduced technical risk</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bullet-id="1" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs "><i class="fa-solid fa-asterisk"></i></i></div>
                                <div class="media-body item-1">
                                    <div class="  relative">
                                        <div class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">Leading Dataworks Supply Chain platform to reduce pre & post purchase experience between buyer - sellar - shipper relationship. </div>
                                    </div>
                                </div>
                            </div>                            
                            <div data-bullet-id="1" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs "><i class="fa-solid fa-asterisk"></i></i></div>
                                <div class="media-body item-1">
                                    <div class="  relative">
                                        <div class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">Part of Dataworks Strategic engagement group in leading vendor outreach and collaboration process to provide high quality integration. </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="resume-item-holder line-item editable">
            <div id="sections-2-items-0">
                <div class="item-object experience-item">
                    <div class="inner">
                        <div class="work-container">
                            <div class=" relative">
                                <div 
                                    class="text-field input full-width-field  item-position resume-first-color resume-heading-font"
                                    placeholder="Title"  
                                    style="white-space: pre-wrap;">Principal Engineer | Shoprunner </div>
                                <div
                                    class="text-field full-width-field autocomplete  item-position resume-first-color resume-heading-font">
                                </div>
                            </div>
                            <div class=" relative">
                                <div 
                                    class="text-field input full-width-field  item-workplace resume-second-color"
                                    placeholder="Company Name"  
                                    style="white-space: pre-wrap;">Shoprunner Inc</div>
                            </div>
                        </div>
                        <div class="with-icon-container">
                            <span class="btn btn-sm btn-resume-data btn-link with-icon">
                            <i class="fa-solid fa-calendar-days"></i>
                                <span class="-xs ">2011 - 2021</span>
                            </span>
                            <div class="item-stretch item-location with-icon" style="padding-right: 50px !important;">
                                <span class="btn btn-sm btn-resume-data btn-link with-icon"> 
                                <i class="fa-solid fa-location-dot"></i>
                                <div class=" -inline relative">
                                    <div 
                                        class="text-field  -xs font-size-12 item-location"
                                        placeholder="Location"  
                                        style="white-space: pre-wrap;">Conshohocken, PA</div>
                                     
                                </div>
                            </span>
                            </div>
                        
                        </div>
                        <div class="  relative">
                            <div class="text-field item-description" placeholder="Company Description" style="margin-top:7px !important; margin-bottom: 3px">
                                ShopRunner is a members-only e-commerce platform that allows their retail partners to offer free 2-day shipping, free returns, and exclusive discounts.
                            </div>
                        </div>
                        <div class="top-xty">
                            <div data-bullet-id="0" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs "><i class="fa-solid fa-asterisk"></i></i></div>
                                <div class="media-body item-0">
                                    <div class="  relative">
                                        <div class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">helped shoprunner from the early stage, worked across various business verticals and see through company got acquired. </div>
                                    </div>
                                </div>
                            </div>
                            <div data-bullet-id="1" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs "><i class="fa-solid fa-asterisk"></i></i></div>
                                <div class="media-body item-1">
                                    <div class="  relative">
                                        <div class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">Led Shoprunnner Dataplatform and build roboust datapipeline to ingest data for downstream analytics and machine-learning work </div>
                                    </div>
                                </div>
                            </div>                            
                            <div data-bullet-id="1" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs "><i class="fa-solid fa-asterisk"></i></i></div>
                                <div class="media-body item-1">
                                    <div class="  relative">
                                        <div class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">Led shoprunner channel partners integration with American express and acquired million members </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--div class="resume-item-holder line-item editable hide-separating-border">
            <div id="sections-2-items-1" >
                <div class="item-object experience-item">
                    <div class="inner">
                        <div class="work-container">
                            <div class=" relative">
                                <div 
                                    class="text-field input full-width-field  item-position resume-first-color resume-heading-font"
                                    placeholder="Title"  
                                    style="white-space: pre-wrap;">Engineering Manager</div>
                                <div
                                    class="text-field full-width-field autocomplete  item-position resume-first-color resume-heading-font">
                                </div>
                            </div>
                            <div class=" relative">
                                <div 
                                    class="text-field input full-width-field  item-workplace resume-second-color"
                                    placeholder="Company Name"  
                                    style="white-space: pre-wrap;">Biley Group</div>
                            </div>
                        </div>
                        <div class="with-icon-container"><a href="" role="button"
                                class="btn btn-sm btn-resume-data btn-link with-icon empty-date"><i
                                    class="icon icon-40-free-calendar"></i><span class="-xs ">Date
                                    period</span></a>
                            <div class="item-stretch item-location with-icon"><i class="icon icon-05-pin-map"></i>
                                <div class=" -inline relative">
                                    <div 
                                        class="text-field  -xs font-size-12 item-location"
                                        placeholder="Location"  
                                        style="white-space: pre-wrap;">Cleveland, OH</div>
                                    <div
                                        class="text-field full-width-field autocomplete  -xs font-size-12 item-location">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  relative">
                            <div 
                                class="text-field  item-description" placeholder="Company Description"
                                  data-decoratable="true"
                                style="white-space: pre-wrap;">A local content and ad network platform that provides
                                scalable solutions to growth-oriented businesses</div>
                        </div>
                        <div class="top-xty">
                            <div data-bullet-id="0" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs"><i class="fa-solid fa-circle-small"></i></div>
                                <div class="media-body item-0">
                                    <div class="  relative">
                                        <div 
                                            class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">
                                            Coached engineering teams on software engineering principles and agile
                                            methodologies, resulting in a 125% increase in work efficiency</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bullet-id="1" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs"><i class="fa-solid fa-circle-small"></i></div>
                                <div class="media-body item-1">
                                    <div class="  relative">
                                        <div 
                                            class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">
                                            Collaborated with cross-functional teams to define product launch strategies
                                            and build the road map for new features and improvements</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bullet-id="2" class="media bullet-content-wrapper no-bottom">
                                <div class="media-left media-left-xs"><i class="fa-solid fa-circle-small"></i></div>
                                <div class="media-body item-2">
                                    <div class="  relative">
                                        <div 
                                            class="text-field   -sm item-bullet"
                                            placeholder="What did you achieve in this role?" 
                                             data-decoratable="true" style="white-space: pre-wrap;">
                                            Drove the execution and delivery of 13 high-quality software releases while
                                            ensuring that the products met customer expectations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div -->
</div>