<div class="item-object technologies-item">
    <div class="inner">
        <div class="tags">
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-0" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Leadership</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-1" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Cloud Technologies(AWS/Azure)</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-2" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Data Pipeline & Migration</div>
            </div><div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-3" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Scrum/Agile</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-4" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Detail Oriented</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-5" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Adaptability</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-6" placeholder="Tool / Technology"  style="white-space: pre-wrap;"> Conflict Resolution</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-7" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Programming Languages</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-8" placeholder="Tool / Technology"  style="white-space: pre-wrap;">eCommerce</div>
            </div>
            <div class="editable-field-wrapper editable-field-wrapper-inline relative">
                <div class="text-field tag  tag-8" placeholder="Tool / Technology"  style="white-space: pre-wrap;">Process Improvement</div>
            </div>
        </div>
    </div>
</div>
<div >
    <div class="resume-header resume-header-with-photo editable">
        <div class="resume-header-col resume-header-col-left">
        <div class="with-icon-container top-sm resume-header-items header-info-container">
            <div class="resume-body-font with-icon">
                <i class="fa-brands fa-github"></i>
                <div class=" relative">
                    <div 
                        class=" input full-width-field editable-field resume-body-font"
                        placeholder="Phone"  
                        style="white-space: pre-wrap;font-size:9px; font-weight:500"><a alt="sadhasivam" href="{{ site.resume_social_links.resume_github_url }}">Github</a></div>
                </div>
            </div>
        </div>    
</div>
</div>
</div>